# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\代码\socketDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# delete file send/receive
/cache/

/.idea/